<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>WholePool - Strona główna</title>
    <div th:replace="fragments/imports"></div>
</head>
<body>
<nav th:replace="fragments/navbar :: nav"></nav>
<div class="container">
    <div class="page-box">
        <div class="jumbotron page-content-jumbotron text-align-start">
            <h1>Wholepool</h1>
            <span class="color-white">...twoje przejazdy w jednym miejscu.</span>
        </div>
        <div class="page-content">
            <h3 class="text-align-center">Fajnie, że wpadłeś!</h3>
            <span>Serwis Wholepool pomoźe Ci szybko odszukać przejazdy, które mogą Cię zainteresować. Aby rozpocząć, skorzystaj z przycisków na górze ekranu, zaloguj się lub załóż konto teraz!</span>
            <div style="margin-top:50px;padding:0;">
                <a href="/register" style="text-decoration:none">
                    <button type="button" class="btn btn-lg btn-wholepool btn-block">Załóż konto</button>
                </a>
            </div>
            <div style="margin-top:10px; padding:0;">
                <a href="/login" style="text-decoration:none">
                    <button type="button" class="btn btn-lg btn-wholepool btn-block">Zaloguj się</button>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
