<!--
  Created by IntelliJ IDEA.
  User: Jakub Bartusiak
  Date: 12.11.2018
  Time: 16:16
  To change this template use File | Settings | File Templates.
-->

<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>WholePool - Wyszukaj przejazd</title>
    <div th:replace="fragments/imports"></div>
    <script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyAtaWhgKo0YlcEa8JQu-19VNU6w4kYz5_0 '></script>
    <script src="/js/locationpicker.jquery.js"></script>
</head>

<body>

<nav th:replace="fragments/navbar :: nav"></nav>

<div class="container-fluid">
    <div class="page-box page-content" style="background-color:#DDD; margin-left:50px; margin-right:50px; margin-top:0; border-radius:0 0 1em 1em;">
        <form style="padding-left:50px; padding-right:50px;">
            <div class="form-group row">
                <label for="searchFrom" class="col-sm-2 col-form-label">Miejsce odjazdu:</label>
                <div class="col-sm-4">
                    <input type="text" name="searchFrom" class="form-control " id="searchFrom" placeholder="wybierz">
                </div>
                <label for="searchTo" class="col-sm-2 col-form-label">Miejsce przyjazdu:</label>
                <div class="col-sm-4">
                    <input type="text" name="searchTo" class="form-control" id="searchTo" placeholder="wybierz">
                </div>
            </div>
            <div class="form-group row">
                <label for="dateOfDeparture" class="col-sm-2 col-form-label">Data odjazdu</label>
                <div class="col-sm-4">
                    <input type="date" name="dateOfDeparture" class="form-control" id="dateOfDeparture" placeholder="Email">
                </div>
                <label for="inputHOD" class="col-sm-2 col-form-label">Odjazd po godzinie:</label>
                <div class="col-sm-4">
                    <input type="date" name="inputHOD" class="form-control" id="inputHOD" placeholder="Email">
                </div>
            </div>
            <div class="form-group row" style="display:none;">
                <button type="button" class=" col-sm-12 btn btn-link text-body"
                        style="padding-left:30px; padding-right:30px;" data-toggle="collapse"
                        data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Więcej
                    opcji wyszukiwania
                </button>
            </div>
            <div class="collapse" id="collapseExample">
                <div>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
            </div>
            <div class="form-group row">
                <button type="button" class="btn btn-md btn-wholepool btn-warning"
                        style="padding-left:30px; padding-right:30px; text-align:center;">Szukaj
                </button>
            </div>

        </form>
    </div>
</div>

<div class="container-fluid">
    <div class="page-box" style="margin-left:100px; margin-right:100px; margin-top:1em;">
        <ul class="list-group">
            <th:block th:each="ride : ${rides}">
                <li class="list-group-item">
                    <div class="container-fluid result">
                        <a th:href="@{'/ride/' + ${ride.getRideId().rideId}}">
                            <div class="row">
                                <div class="col-lg-1 text-align-end">
                                    <span th:text="${ride.getFormattedDate(0,null)}"
                                          class="result-hour"></span>
                                </div>
                                <div class="col-lg-3">
                                    <h3 class="result-place"
                                        th:text="${ride.getRideId().getRouteForThisRide().getRouteFromLocation()}"></h3>
                                </div>
                                <div class="col-lg-3"></div>
                                <div class="col-lg-3"></div>
                                <div class="col-lg-2 text-align-end">
                                    Cena: <strong th:text="${ride.getPrice()}"></strong><strong>
                                    PLN</strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-1 text-align-end">
                                    <span class="result-hour"
                                          th:text="${ride.getFormattedDate(1, null)}"></span>
                                </div>
                                <div class="col-lg-3">
                                    <h3 class="result-place"
                                        th:text="${ride.getRideId().getRouteForThisRide().getRouteToLocation()}"></h3>
                                </div>
                                <div class="col-lg-4">
                                    Oferta z portalu <img src="images/logo.png" witdh="25px" height="25px"/><strong
                                        style="color:var(--fg-wholepool-accent);">Wholepool</strong>
                                </div>
                                <div class="col-lg-2">

                                </div>
                                <div class="col-lg-2 text-align-end">
                                    <button type="button" class="btn btn-warning btn-wholepool">Zarezerwuj!</button>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
            </th:block>
        </ul>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('#nav-search').addClass('active');
    });
</script>

<div id="map-from" class="map-widget"></div>
<div id="map-to" class="map-widget"></div>
<script>
    // This example adds a search box to a map, using the Google Place Autocomplete
    // feature. People can enter geographical searches. The search box will return a
    // pick list containing a mix of places and predicted search terms.

    // This example requires the Places library. Include the libraries=places
    // parameter when you first load the API. For example:
    // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

    function initAutocomplete() {
        var map = new google.maps.Map(document.getElementById('map-from'), {
            center: {lat: -33.8688, lng: 151.2195},
            zoom: 13,
            mapTypeId: 'roadmap'
        });

        var map2 = new google.maps.Map(document.getElementById('map-to'), {
            center: {lat: -33.8688, lng: 151.2195},
            zoom: 13,
            mapTypeId: 'roadmap'
        });

        // Create the search box and link it to the UI element.
        var inputFrom = document.getElementById('searchFrom');
        var inputTo = document.getElementById('searchTo');
        var searchBoxFrom = new google.maps.places.SearchBox(inputFrom);
        var searchBoxTo = new google.maps.places.SearchBox(inputTo);

        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBoxFrom.addListener('places_changed', function() {
            var places = searchBoxFrom.getPlaces();

            if (places.length == 0) {
                return;
            }

            // Clear out the old markers.
            markers.forEach(function(marker) {
                marker.setMap(null);
            });
            markers = [];

            // For each place, get the icon, name and location.
            var bounds = new google.maps.LatLngBounds();
            places.forEach(function(place) {
                if (!place.geometry) {
                    console.log("Returned place contains no geometry");
                    return;
                }
                var icon = {
                    url: place.icon,
                    size: new google.maps.Size(71, 71),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(25, 25)
                };

                // Create a marker for each place.
                markers.push(new google.maps.Marker({
                    map: map,
                    icon: icon,
                    title: place.name,
                    position: place.geometry.location
                }));

                if (place.geometry.viewport) {
                    // Only geocodes have viewport.
                    bounds.union(place.geometry.viewport);
                } else {
                    bounds.extend(place.geometry.location);
                }
            });
            map.fitBounds(bounds);
        });
    }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtaWhgKo0YlcEa8JQu-19VNU6w4kYz5_0&libraries=places&callback=initAutocomplete&language=pl&location=PL" async defer></script>
</body>
</html>
