<!--
  Created by IntelliJ IDEA.
  User: Jakub Bartusiak
  Date: 12.11.2018
  Time: 16:16
  To change this template use File | Settings | File Templates.
-->
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>WholePool - Moje dane</title>
    <div th:replace="fragments/imports"></div>
</head>
<body>
<nav th:replace="fragments/navbar :: nav"></nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1">

        </div>

        <div th:replace="fragments/user-settings-menu"></div>

        <div class="col-lg-1">

        </div>

        <div class="col-lg-6">
            <div class="page-box">
                <div class="page-content">
                    <h2>Moje samochody</h2>
                    <hr/>
                    <div style="margin-top:1em; margin-bottom:1em"><strong>Poniżej znajdziesz listę swoich pojazdów.</strong><br>
                        Możesz usuwać pojazdy, jeżeli zajdzie taka potrzeba.
                    </div>
                    <th:block th:each="car : ${cars}">
                        <div th:text="${car.toString()}"></div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('#nav-settings').addClass('active');
    });
</script>
</body>
</html>
