<!--
  Created by IntelliJ IDEA.
  User: Jakub Bartusiak
  Date: 12.11.2018
  Time: 16:16
  To change this template use File | Settings | File Templates.
-->
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>WholePool - Ustawienia</title>
    <div th:replace="fragments/imports"></div>
</head>
<body>
<nav th:replace="fragments/navbar :: nav"></nav>
<div class="container-fluid">
    <div class="page-box" style="margin-left:15em; margin-right:15em;margin-bottom:5em;">
        <div class="jumbotron page-content-jumbotron-v2" style="padding:50px">
            <h1 class="text-align-center">Ustawienia i dane</h1>
        </div>
        <div class="page-content">
            <h4 class="text-align-end" style="border-bottom:1px solid #605B56; margin-bottom:2em; color:#605B56;">
                ustawienia ogólne</h4>

            <div class="row text-align-start" style="margin-left:3em; margin-right:3em; margin-bottom:1em">
                <div class="col-lg-1 xx-large-font text-align-center">
                    <i class="fas fa-user-circle" style="font-size:2em;"></i>
                </div>
                <div class="col-lg-3 x-large-font">
                    <a href="/user/settings/data">
                        <span>Moje dane</span><br><span style="font-size:small">zweryfikuj lub popraw swoje dane</span>
                    </a>
                </div>
                <div class="col-lg-1 xx-large-font text-align-center" style="display: none;">
                    <i class="fas fa-clipboard-list" style="font-size:2em;"></i>
                </div>
                <div class="col-lg-3 x-large-font" style="display: none;">
                    <a href="/user/settings/preferences">
                        <span>Moje preferencje</span><br><span style="font-size:small">zweryfikuj o swoich preferencjach przejazdu</span>
                    </a>
                </div>
                <div class="col-lg-1 xx-large-font text-align-center">
                    <i class="fas fa-user-cog" style="font-size:2em;"></i>
                </div>
                <div class="col-lg-3 x-large-font">
                    <a href="/user/settings/accountType">
                        <span>Zmiana typu konta</span><br><span style="font-size:small">zdecyduj o swoim statusie jako kierowca</span>
                    </a>
                </div>
            </div>

            <div class="row text-align-start" style="margin-left:3em; margin-right:3em; margin-bottom:1em">
                <div class="col-lg-1 xx-large-font text-align-center">
                    <i class="fas fa-key" style="font-size:2em;"></i>
                </div>
                <div class="col-lg-3 x-large-font">
                    <a href="/user/settings/changePassword">
                        <span>Zmiana hasła</span><br><span style="font-size:small">zmień swoje hasło</span>
                    </a>
                </div>
                <div class="col-lg-1 xx-large-font text-align-center" style="display:none;">
                    <i class="fas fa-envelope-square" style="font-size:2em; "></i>
                </div>
                <div class="col-lg-3 x-large-font" style="display:none;">
                    <a href="/user/settings/contact">
                        <span>Preferencje kontaktu</span><br><span style="font-size:small">zdecyduj jakie informacje chcesz otrzymywać</span>
                    </a>
                </div>
                <div class="col-lg-4">

                </div>
            </div>

            <h4 class="text-align-end" style="border-bottom:1px solid #605B56; margin-bottom:2em; color:#605B56;">
                przejazdy</h4>
            <div class="row text-align-start" style="margin-left:3em; margin-right:3em; margin-bottom:1em">
                <div class="col-lg-1 xx-large-font text-align-center">
                    <i class="fas fa-road" style="font-size:2em;"></i>
                </div>
                <div class="col-lg-3 x-large-font">
                    <a href="/user/rides">
                        <span>Moje przejazdy</span><br><span style="font-size:small">przeglądaj historię swoich przejazdów</span>
                    </a>
                </div>
                <div class="col-lg-1 xx-large-font text-align-center" style="display:none;">
                    <i class="fas fa-search" style="font-size:2em;"></i>
                </div>
                <div class="col-lg-3 x-large-font" style="display: none;">
                    <a href="/user/searchHistory">
                        <span>Moje wyszukiwania</span><br><span
                            style="font-size:small">przeglądaj swoje wyszukiwania</span>
                    </a>
                </div>
            </div>

            <h4 class="text-align-end" style="border-bottom:1px solid #605B56; margin-bottom:2em; color:#605B56;">
                ustawienia kierowcy</h4>

            <div class="row text-align-start" style="margin-left:3em; margin-right:3em; margin-bottom:1em">
                <div class="col-lg-1 xx-large-font text-align-center">
                    <i class="fas fa-car" style="font-size:2em;"></i>
                </div>
                <div class="col-lg-3 x-large-font">
                    <a href="/user/settings/myCars">
                        <span>Moje samochody</span><br><span
                            style="font-size:small">przeglądaj lub usuń swoje pojazdy</span>
                    </a>
                </div>
                <div class="col-lg-1 xx-large-font text-align-center">
                    <i class="fas fa-plus-square" style="font-size:2em;"></i>
                </div>
                <div class="col-lg-3 x-large-font">
                    <a href="/user/settings/addCar">
                        <span>Dodaj nowy samochód</span><br><span style="font-size:small">zweryfikuj o swoich preferencjach przejazdu</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('#nav-settings').addClass('active');
    });
</script>
</body>
</html>
