<!--
  Created by IntelliJ IDEA.
  User: Jakub Bartusiak
  Date: 12.11.2018
  Time: 16:16
  To change this template use File | Settings | File Templates.
-->
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>WholePool - Moje dane</title>
    <div th:replace="fragments/imports"></div>
</head>
<body>
<nav th:replace="fragments/navbar :: nav"></nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1">

        </div>

        <div class="col-lg-2">
            <div class="page-box">
                <div class="page-content" style="padding:0;">
                    <ul class="list-group">
                        <li class="list-group-item selected"><a href="#"><i class="fas fa-user-circle fa-fw"
                                                                            style="margin-right:1em"></i>Moje dane</a>
                        </li>
                        <li class="list-group-item"><a href="#"><i class="fas fa-clipboard-list fa-fw"
                                                                   style="margin-right:1em"></i><span>Moje preferencje</span></a>
                        </li>
                        <li class="list-group-item"><a href="#"><i class="fas fa-user-cog fa-fw"
                                                                   style="margin-right:1em"></i><span>Zmiana typu konta</span></a>
                        </li>
                        <li class="list-group-item"><a href="#"><i class="fas fa-key fa-fw"
                                                                   style="margin-right:1em"></i><span>Zmiana hasła</span></a>
                        </li>
                        <li class="list-group-item" style="margin-bottom:1em;"><a href="#"><i
                                class="fas fa-envelope-square fa-fw" style="margin-right:1em"></i><span>Preferencje kontaktu</span></a>
                        </li>
                        <li class="list-group-item"><a href="#"><i class="fas fa-car fa-fw"
                                                                   style="margin-right:1em"></i><span>Moje samochody</span></a>
                        </li>
                        <li class="list-group-item" style="margin-bottom:1em"><a href="#"><i
                                class="fas fa-plus-square fa-fw"
                                style="margin-right:1em"></i><span>Dodaj nowy samochód</span></a></li>
                        <li class="list-group-item"><a href="#"><i class="fas fa-road fa-fw"
                                                                   style="margin-right:1em"></i><span>Moje przejazdy</span></a>
                        </li>
                        <li class="list-group-item"><a href="#"><i class="fas fa-search fa-fw"
                                                                   style="margin-right:1em"></i><span>Moje wyszukiwania</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-1">

        </div>

        <div class="col-lg-6">
            <div class="page-box">
                <div class="page-content">
                    AWDAWD
                </div>
            </div>
        </div>
    </div>
</body>
</html>
