<div class="col-lg-2">
    <div class="page-box">
        <div class="page-content" style="padding:0;">
            <ul class="list-group">
                <li id="userSettingsData" class="list-group-item"><a href="/user/settings/data"><i
                        class="fas fa-user-circle fa-fw"
                        style="margin-right:1em"></i>Moje dane</a>
                </li>
                <li id="userSettingsPreferences" class="list-group-item" style="display:none;"><a href="/user/settings/preferences"><i
                        class="fas fa-clipboard-list fa-fw"
                        style="margin-right:1em"></i><span>Moje preferencje</span></a>
                </li>
                <li id="userSettingsAccountType" class="list-group-item"><a href="/user/settings/accountType"><i
                        class="fas fa-user-cog fa-fw"
                        style="margin-right:1em"></i><span>Zmiana typu konta</span></a>
                </li>
                <li id="userSettingsChangePassword" class="list-group-item"><a href="/user/settings/changePassword"><i
                        class="fas fa-key fa-fw"
                        style="margin-right:1em"></i><span>Zmiana hasła</span></a>
                </li>
                <li class="list-group-item" style="margin-bottom:1em; display:none"><a href="/user/settings/contact"><i
                        class="fas fa-envelope-square fa-fw"
                        style="margin-right:1em"></i><span>Preferencje kontaktu</span></a>
                </li>
                <li id="userSettingsCars" class="list-group-item"><a href="/user/settings/myCars"><i
                        class="fas fa-car fa-fw"
                        style="margin-right:1em"></i><span>Moje samochody</span></a>
                </li>
                <li id="userSettingsAddCar" class="list-group-item" style="margin-bottom:1em"><a
                        href="/user/settings/addCar"><i
                        class="fas fa-plus-square fa-fw"
                        style="margin-right:1em"></i><span>Dodaj nowy samochód</span></a></li>
                <li class="list-group-item"><a href="/user/dashboard"><i class="fas fa-road fa-fw"
                                                                     style="margin-right:1em"></i><span>Moje przejazdy</span></a>
                </li>
                <li class="list-group-item" style="display: none;"><a href="/user/searchHistory"><i class="fas fa-search fa-fw"
                                                                             style="margin-right:1em"></i><span>Moje wyszukiwania</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>