<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/wholepool?useSSL=false&amp;serverTimezone=UTC&amp;allowPublicKeyRetrieval=true</property>
        <property name="connection.username">wholepool-writer</property>
        <property name="connection.password">P@ssw0rd</property>

        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">1</property>

        <!-- Select our SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>

		<!-- Set the current session context -->
		<property name="current_session_context_class">thread</property>
        <property name="hibernate.default_schema">wholepool</property>

        <!-- Entities -->
        <mapping class="com.jba.dao.blocked.entity.BlockStatus"/>
        <mapping class="com.jba.dao.blocked.entity.BlockedUsers"/>

        <mapping class="com.jba.dao.user.enitity.User"/>
        <mapping class="com.jba.dao.user.enitity.UserType"/>

        <mapping class="com.jba.dao.cars.entity.CarType"/>
        <mapping class="com.jba.dao.cars.entity.Car"/>
        <mapping class="com.jba.dao.cars.entity.UsersCars"/>

        <mapping class="com.jba.dao.source.entity.Source"/>

        <mapping class="com.jba.dao.ride.enitity.RideDetails"/>
        <mapping class="com.jba.dao.ride.enitity.Ride"/>

        <mapping class="com.jba.dao.route.entity.Route"/>
        <mapping class="com.jba.dao.route.entity.PopularRoute"/>

        <mapping class="com.jba.dao.search.entity.Search"/>
        <mapping class="com.jba.dao.search.entity.SearchHistory"/>

    </session-factory>

</hibernate-configuration>