<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        div{
            margin-bottom:1em;
        }
    </style>
</head>
<body>
    <div>Cześć, <strong th:text="${user}"></strong></div>
    <div>Ten email jest potwierdzeniem, że Twoje hasło do serwisu zostało zmienione. Jeżeli nie wykonywałeś tej akcji,
    to dostęp do Twojego konta może być zagrożony. Niezwłocznie ponownie zresetuj swoje hasło.</div>
    <div>
        Pozdrowienia,<br/>
        <strong>Wholepool</strong>
    </div>
</body>
</html>