<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        div{
            margin-bottom:1em;
        }
    </style>
</head>
<body>
    <div>Cześć, <strong th:text="${user}"></strong></div>
    <div>Dziękujemy za utworzenie konta w serwisie Wholeool. Mamy nadzieję, że korzystanie z serwisu przyniesie Ci
    dużo satysfakcji!</div>
    <div>
        Pozdrowienia!<br/>
        <strong>Wholepool</strong>
    </div>
</body>
</html>