<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>WholePool - Strona główna</title>
    <div th:replace="fragments/imports"></div>
</head>
<body>
<nav th:replace="fragments/navbar :: nav"></nav>
<div class="container">
    <div class="page-box" style="height:50%; display: flex;
  justify-content: center;
  align-items: center; border:2px dashed var(--danger); background-color:var(--bg-accent-dark); color:#FFF">
        <div style="text-align:center">
            <h1 style="color:var(--danger); font-size:10em">401&nbsp;<i class="fas fa-skull" style="color:inherit"></i></h1>
            <div style="color:var(--danger); font-size:1.5em; font-weight:bold">401 Unauthorized -  żądana przez Ciebie strona wymaga zalogowania.</div>
            <div>Przejdź do strony logowania <a href="/login" style="color:var(--fg-wholepool-accent)">tutaj.</a></div>
        </div>
    </div>
</div>
</body>
</html>